@{
    this.ViewData["Title"] = "Contacts";
}

<div class="jumbotron text-center">
    <h1 class="display-3">Thank you for contacting us :)</h1>
    <p class="lead text-center"><strong>We appreciate that you’ve taken the time to write us.</strong>
    We’ll get back to you very soon. Please come back and see us often.</p>
    <hr>
    <p class="lead">
        <a class="btn btn-primary btn-sm" asp-area="" asp-controller="Home" asp-action="Index" role="button">Continue to homepage</a>
    </p>
</div>